<!-- modal-headquarter.component.html -->
@if (isVisibleHeadquarter) {
<!-- <div class="modal-overlay" (click)="closeModal()">
    <div class="modal-container" (click)="$event.stopPropagation()"> -->
<nz-modal
  (nzOnCancel)="closeModal()"
  (nzOnOk)="saveHeadquarter()"
  [(nzVisible)]="isVisibleHeadquarter"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="formHeadquarter">
      <div class="mb-4">
        <label>Nombre</label>
        <nz-form-control>
          <input
            nz-input
            formControlName="name"
            placeholder="Nombre de la sede"
          />
        </nz-form-control>
      </div>

      <div class="mb-4">
        <label>Dirección</label>
        <nz-form-control>
          <input
            nz-input
            formControlName="adress"
            placeholder="Dirección de la sede"
          />
        </nz-form-control>
      </div>

    
      <div class="mb-4 flex gap-5">
        <div class="flex flex-col w-1/2">
          <label class="mb-1">Hora de apertura</label>
          <nz-time-picker [nzMinuteStep]="30" formControlName="opening_time" name="opening_time" [nzFormat]="'HH:mm'" [nzUse12Hours]="false"   [nzDefaultOpenValue]="defaultOpenValue"
          >
          </nz-time-picker>
        </div>
        <div class="flex flex-col w-1/2">
          <label class="mb-1">Hora de clausura</label>
          <nz-time-picker formControlName="closing_time" name="closing_time" [nzFormat]="'HH:mm'" [nzMinuteStep]="30" [nzUse12Hours]="false"   [nzDefaultOpenValue]="defaultOpenValue">
          </nz-time-picker>
        </div>
      </div>


      <!-- Mostrar el campo training_center_id solo en modo creación -->
      @if (!isEdit) {
      


        <div>
          <label>Municipio</label>
        <nz-form-control>
          <input
            nz-input
            formControlName="municipality"
            placeholder="Municipio"
          />
        </nz-form-control>
        </div>

      }
    </form>
  </ng-container>
</nz-modal>
}
