
<section class="flex flex-col items-center">
      <!-- Header -->
      <header class="w-5/6 mt-10 border border-solid border-gray-200 px-4 rounded-lg">
        <div class="title-icon flex items-center justify-center w-full">
          <nz-page-header nzBackIcon [nzGhost]="false" nzSize="large"></nz-page-header>
          <nz-page-header-title class="page-header-title text-center text-sm sm:text-base lg:text-lg">
            {{listOfData2?.course?.program?.name || 'N/A'}}
          </nz-page-header-title>
        </div>
  
        <nz-page-header-content>
          <nz-descriptions nzSize="default" [nzColumn]="2"  nzSize="default">
            <nz-descriptions-item nzTitle="Líder de ficha">{{listOfData2?.instructor?.user?.name || 'N/A '}} {{listOfData2?.instructor?.user?.last_name || 'N/A'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Ficha">{{listOfData2?.course?.code || 'N/A'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Duración del programa">{{listOfData2?.course?.date_start || 'N/A '}} - {{listOfData2?.course?.date_end || 'N/A'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Sede">{{listOfData2?.course?.environment?.headquarters?.name || 'N/A'}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Ambiente">{{listOfData2?.course?.environment?.name || 'N/A'}}</nz-descriptions-item>
            <!-- <nz-descriptions-item nzTitle="Vocero de ficha">{{listOfData2?.course?.representative?.user?.name}} {{listOfData2?.course?.representative?.user?.last_name}}</nz-descriptions-item>
            <nz-descriptions-item nzTitle="Vocero suplente">{{listOfData2?.course?.co_representative?.user?.name }} {{listOfData2?.course?.co_representative?.user?.name}}</nz-descriptions-item> -->
          </nz-descriptions>
        </nz-page-header-content>
      </header>

  <!-- Buttons -->
  <div class="w-4/5 p-4 mt-8 flex justify-center gap-4">
    <button
      nz-button
      nzType="primary"
      (click)="toggleTable()"
    >
      {{ showDefaultTable ? 'Tomar asistencia' : 'Volver a tabla original' }}
    </button>
    
    <app-session-show class="hidden" #sessionShowModal></app-session-show>
    <div
      *ngIf="!showDefaultTable"
      class="button flex gap-4 items-center"
    >
      <button
        nz-button
        nzType="primary"
        (click)="callPrevPage()"
        [disabled]="currentPage === 0"
      >
        Anterior
      </button>
      <button
        nz-button
        nzType="primary"
        (click)="callNextPage()"
        [disabled]="currentPage === Math.ceil(listDAtos.length / tablesPerPage)"
      >
      Siguiente
    </button>
  </div>
</div>

<!-- Content -->
<div class="flex flex-wrap items-center justify-center w-full">
  <!-- Default Table -->
  <!-- Alternate Table -->
   <app-attendance-table [session_id]="session_id!" #attendanceTable *ngIf="!showDefaultTable">
   </app-attendance-table>
  <ng-container
  *ngIf="showDefaultTable"
  class="flex w-full overflow-x-auto"
  >
  <nz-table
        #basicTable
        [nzData]="listOfData"
        [nzBordered]="true"
        [nzPageSize]="5"
        [nzScroll]="{ y: '300px' }"
      >
        <thead>
          <tr>
            <th class="p-2">Nombres y Apellidos</th>
            <th class="p-2">Documento</th>
            <th class="p-2">Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of basicTable.data; trackBy: trackByKey"
          >
            <td class="p-2">{{ data.nombre }} {{ data.apellido }}</td>
            <td class="p-2">{{ data.documento }}</td>
            <td class="p-2">{{data.correo}}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </ng-container>

    
  </div>
</section>
