
<div class="buscador flex-row-reverse">
  <div class="flex  items-center justify-between">
    <div class="flex items-start"></div>
    <button
    nz-button
    nzType="primary"
      (click)="showModalCargue()"
      class="text-sm font-medium text-primary-600 dark:text-primary-500"
    >
      Cargue Masivo
    </button>
  </div>
  <!-- barra de busqueda -->
  <div class="barra-busqueda">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input
      type="text"
      nz-input
      placeholder="Buscar usuario"
      [(ngModel)]="searchTerm"
      (input)="searchUsers()"
      (blur)="onSearchBlur()"
      />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch>
        <span nz-icon nzType="search"></span>
      </button>
    </ng-template>
  </div>
  <!-- tabla de usuarios  -->
</div>
<section id="all">
  <nz-table [nzShowPagination]="false" #basicTable [nzData]="filteredUsers">
    <thead>
      <tr>
        <th>Documento</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Roles</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of basicTable.data">
        <td>{{ user.identity_document }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.last_name }}</td>
        <td>
          <span *ngFor="let role of user.roles; let i = index">
            {{ role }}<span *ngIf="i < user.roles.length - 1">, </span>
          </span>
        </td>
        <td>
          <button
          nz-button
          nzType="default"
          (click)="openModalRoles(user)" >
            Editar Roles
          </button>
          <button
          nz-button
           (click)="toggleUserStatus(user)" >
            {{ user.deactivation_date ? "Activar" : "Desactivar" }}
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
 <div class="paginate" *ngIf="!isSearching && totalItems > 0">
  <nz-pagination
    [nzPageIndex]="pageIndex"
    [nzTotal]="totalItems"
    [nzPageSize]="pageSize"
    (nzPageIndexChange)="changePage($event)"
    [nzShowSizeChanger]="true"
    [nzPageSizeOptions]="[8, 16, 24, 32]"
    (nzPageSizeChange)="pageSizeChange($event)">
  </nz-pagination>
</div>
</section>


<app-charge-button #chargeButton></app-charge-button>
<app-edit-roles-modal #modalRoles (updatedUsers)="getUsers()"></app-edit-roles-modal>
