<ul nz-menu nzTheme="dark" nzMode="inline">
  <!-- Template genérico para la creación de submenús infinitos -->
  <ng-template #renderSubMenu let-subMenuItems>
    <ng-container *ngFor="let subItem of subMenuItems">
      <li *ngIf="!subItem.subMenu" nz-menu-item>
        <span nz-icon [nzType]="subItem.icon"></span>
        <span>{{ subItem.title }}</span>
      </li>
      <li *ngIf="subItem.subMenu" nz-submenu [nzTitle]="subItem.title" [nzIcon]="subItem.icon!">
        <ul>
          <ng-container *ngTemplateOutlet="renderSubMenu; context: {$implicit: subItem.subMenu}"></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>
  <!-- Inicializa el menú con los elementos principales -->
  <ng-container *ngTemplateOutlet="renderSubMenu; context: {$implicit: menuItems}"></ng-container>
</ul>



