<div class="flex flex-col items-center bg-white shadow-md">
  <!-- Nombre del usuario con borde verde en la parte inferior -->
  <div class="flex flex-col items-center justify-center py-6 border-b border-green-500 pb-4">
    <span class="text-xl text-black font-normal">{{ user()?.name }} {{ user()?.last_name }}</span>
  </div>

  <ul nz-menu nzMode="inline">
    <!-- Template genérico para la creación de submenús infinitos -->
    <ng-template #renderSubMenu let-subMenuItems>
      <ng-container *ngFor="let subItem of subMenuItems">
        <li *ngIf="!subItem.subMenu" nz-menu-item>
          <a [routerLink]="subItem.route" routerLinkActive="active">
            <span nz-icon [nzType]="subItem.icon" [nzTheme]="subItem.theme"></span>
            <span>{{ subItem.title }}</span>
          </a>
        </li>
        <li *ngIf="subItem.subMenu" nz-submenu [nzTitle]="subItem.title" [nzIcon]="subItem.icon!">
          <ul>
            <ng-container *ngTemplateOutlet="renderSubMenu; context: { $implicit: subItem.subMenu }"></ng-container>
          </ul>
        </li>
      </ng-container>
    </ng-template>
    <ng-container *ngTemplateOutlet="renderSubMenu; context: { $implicit: Items()}"></ng-container>
  </ul>

  <!-- Botón de Actualizar Contraseña -->
  <button
    class="h-12 w-full flex items-center justify-start gap-2 border-t border-green-500 py-4 px-6 text-[#38a901] font-semibold hover:bg-[#38a901] hover:text-white transition-colors duration-300 text-left"
    (click)="openChangePasswordModal()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 flex-shrink-0"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M12 11c0-1.1.9-2 2-2s2 .9 2 2-2 4-2 4m-6 2h12M4 6h16v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6z"
      ></path>
    </svg>
    <span class="text-left">Actualizar Contraseña</span>
  </button>

  <!-- Botón de Cerrar Sesión -->
  <button
    class="h-12 w-full flex items-center justify-start gap-2 py-4 px-6 text-[#38a901] font-semibold hover:bg-[#38a901] hover:text-white transition-colors duration-300 text-left"
    (click)="logout()"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 flex-shrink-0"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
      stroke-width="2"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M13 5l7 7-7 7M17 12H3"></path>
    </svg>
    <span class="text-left">Cerrar Sesión</span>
  </button>
</div>

<!-- Modal para cambiar contraseña -->
<app-change-password-modal
  *ngIf="isChangePasswordModalVisible"
  [isVisible]="isChangePasswordModalVisible"
  (closeModal)="closeChangePasswordModal()"
  (passwordChanged)="onPasswordChanged($event)"
></app-change-password-modal>