<!-- training-centre-page.component.html -->
<!-- Botón para crear un nuevo centro -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
@if (isModalVisible) {
<app-training-centre-form [centre]="centreUpdate" [isVisible]="isModalVisible" (update)="actualizarTabla($event)"
  (create)="actualizarTabla($event)" (closeModal)="closeModal()">
</app-training-centre-form>
}

<button class="crear-btn " nz-button nzType="primary" (click)="openModal()">Crear Centro de Formación</button>

<!-- Tabla para listar centros de formación -->
<nz-table [nzData]="Datetable.Datos" [nzShowPagination]="false">
  <thead>
    <tr>
      @for (titulo of Datetable.Titles; track $index) {
      <th>{{titulo}}</th>
      }
    </tr>
  </thead>
  <tbody>
    @for (centre of Datetable.Datos; track $index) {
    <tr>
      @for (item of centre.Datos; track $index) {
      <td>{{ item }}</td>
      }

      <td>
        <div class="action-buttons">
        <button class="edit-btn " nz-button nzType="default" (click)="update(centre.idItem)">
          <span class="material-icons"></span>Editar</button>

        <button class="delete-btn" nz-popconfirm nzPopconfirmTitle="¿Está seguro que desea eliminar?"
          (nzOnConfirm)="deleteCentre(centre.idItem)" (nzOnCancel)="cancel()" nz-button nzType="default" nzDanger>
          <span class="material-icons"></span>Eliminar
        </button>
      </div>


      </td>

    </tr>
    }
  </tbody>
</nz-table>

<nz-pagination (nzPageIndexChange)="changePage($event)" [nzTotal]="total_elements" [nzPageIndex]="page"
  [nzPageSize]="elements" [nzResponsive]="true" [nzHideOnSinglePage]="true">
</nz-pagination>