.action-buttons {
    display: flex;
    gap: 10px; /* Espacio entre los botones */
    flex-wrap: wrap; /* Hace que los botones bajen en pantallas pequeñas */
  }

  .material-icons {
    font-size: 18px; /* Ajusta el tamaño del icono */
    vertical-align: middle; /* Alinea mejor con el texto */
  }
  .crear-btn {
    background-color: #4CAF50; /* Color de fondo del botón */
    border: none;
    margin-bottom: 20px;
    border-radius: 2px;
    cursor: pointer;

  }
  .crear-btn:hover {
    background-color: #3e8e41;
    }
  .edit-btn {
    color: #4f8832;
    border: 2px solid #346e1644;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  

  .edit-btn:hover {
    background: #38A901;
    color: white;
  }


  
/* Botón de Eliminar */
.delete-btn {
    color: #F44336;
    border: 2px solid #f4433622;
    background: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .delete-btn:hover {
    background: #f44336ae;
    color: white;
  }