<nz-modal [(nzVisible)]="isVisible">
  <ng-container *nzModalTitle>
    <h1 class="text-red-100">Mi formulario</h1>
  </ng-container>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="programform">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Programa</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          nzErrorTip="Por favor ingresa el programa"
        >
          <input
            nz-input
            formControlName="program"
            placeholder="Ingresa el programa"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Tipo</nz-form-label>
        <nz-form-control
          [nzSpan]="12"
          nzHasFeedback
          nzErrorTip="Por favor ingresa el nivel de formación"
        >
          <input
            nz-input
            formControlName="education_level"
            placeholder="Ingresa el nivel de formación"
          />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="submitForm()" [disabled]="!programform.valid">
      Enviar
    </button>
    <button nz-button (click)="resetForm($event)">Cancelar</button>
  </ng-container>
</nz-modal>
