<nz-modal [(nzVisible)]="isVisible" (nzOnCancel)="onCancel.emit()">
  <ng-container *nzModalTitle>
    <h1 class="text-red-100">Mi formulario</h1>
  </ng-container>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="Formprogram!">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Programa</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor ingresa el programa">
          <input nz-input formControlName="name"placeholder="Ingresa el programa"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nivel Educativo</nz-form-label>
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" formControlName="education_level_id">
          <nz-option *ngFor="let level of education_level" [nzValue]="level.id" [nzLabel]="level.name"></nz-option>
        </nz-select>
        <button nz-button nzType="primary" (click)="createEducationLevel()">add</button>
      </nz-form-item>
       <nz-form-item *ngIf="isOtherSelected">
        <nz-form-label [nzSpan]="7" nzRequired>Especificar otro nivel</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor especifica el nivel educativo">
          <input nz-input formControlName="custom_education_level" placeholder="Especifica el nivel educativo" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="saveProgram()" [disabled]="!Formprogram!.valid">
      Enviar
    </button>
    <button nz-button (click)="resetForm($event)">Cancelar</button>
  </ng-container>
</nz-modal>




<nz-modal [(nzVisible)]="isVisibleNivel" (nzOnCancel)="handleCancelLevel()">
  <ng-container *nzModalTitle>
    <h1 class="text-red-100">Crear nivel educativo</h1>
  </ng-container>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="FormEducationLevel!">
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Nombre</nz-form-label>
        <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Por favor ingresa el programa">
          <input nz-input formControlName="name"placeholder="Ingresa el programa"/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
  <ng-container *nzModalFooter>
    <button nz-button nzType="primary" (click)="saveLevel()" [disabled]="!FormEducationLevel!.valid">
      Enviar
    </button>
    <button nz-button (click)="handleCancelLevel()">Cancelar</button>
  </ng-container>
</nz-modal>
