
<div class="flex justify-end">
  <button nz-button nzType="primary" (click)="openModal()">Crear session</button>
  <button nz-button nzType="primary" (click)="openAnotherModal()">Crear otro modal</button>
</div>
<div class="main-container">
  <!-- Contenedor de Fichas Activas -->
  <div class="fichas-container">
    <h1>FICHAS</h1>
    <app-session [isModalVisible]="createSessionOpen" #sessionModal></app-session>
    <app-session *ngIf="createSessionOpen"></app-session>
    <div nz-row [nzGutter]="16">
      <div nz-col [nzSpan]="6" *ngFor="let session of pending_courses">
        <a [routerLink]="[session.course!.code,'attendance']">
          <nz-card [nzBordered]="true" [nzBodyStyle]="{ padding: '2px' }">
            <div class="ficha-header">Ficha: {{ session.course!.code || 'No disponible' }}</div>
            <div class="ficha-content">
              <p><strong>Programa:</strong> {{ session.course?.program?.name || 'No disponible' }}</p>
              <p><strong>Sede:</strong> {{ session.course?.environment?.headquarters?.name || 'No disponible' }}</p>
              <p><strong>Ambiente:</strong> {{ session.course?.environment?.name || 'No disponible' }}</p>
              <div class="ficha-details">
                <p><strong>Sesión:</strong> {{ session.start_time }}-{{ session.end_time }}</p>
                <p><strong>Fecha:</strong> {{ session.date }}</p>
              </div>
            </div>
          </nz-card>
        </a>
      </div>
    </div>
  </div>

    <!-- Historial de Fichas -->
    <nz-collapse>
      <nz-collapse-panel [nzHeader]="'HISTORIAL DE FICHAS'" [nzShowArrow]="true">
        <div class="historial-fichas-container">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="6" *ngFor="let session of record_courses">
              <a [routerLink]="[session.course!.code,'attendance']" >
              <nz-card [nzBordered]="true" [nzBodyStyle]="{ padding: '2px' }">
                <div class="ficha-header-historal">Ficha: {{ session.course?.code || 'No disponible' }}</div>
                <div class="ficha-content">
                  <p><strong>Programa:</strong> {{ session.course?.program?.name }}</p>
                  <p><strong>Sede:</strong> {{ session.course?.environment?.headquarters?.name }}</p>
                  <p><strong>Ambiente:</strong> {{ session.course?.environment?.name }}</p>
                  <div class="ficha-details">
                  <p><strong>Sesión:</strong> {{ session.start_time }}</p>
                  <p><strong>Fecha:</strong> {{ session.date }}</p>
                  </div>
                </div>
              </nz-card>
              </a>
            </div>
          </div>
        </div>
      </nz-collapse-panel>
    </nz-collapse>