@tailwind base;
@tailwind components;
@tailwind utilities;

::ng-deep .ant-tabs-nav-wrap {
    @apply mr-auto ml-auto justify-items-center;
    width: fit-content;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    margin-top: 20px; /* Ajusta margen superior según lo necesites */
    
}

::ng-deep .inasistencias .ant-tabs-tab-active{
    color: black ;
}

::ng-deep .inasistencias .ant-tabs-tab-active .ant-tabs-tab-btn{
    color: red;
}

::ng-deep .pendientes .ant-tabs-tab-active{
    color: yellow;
    
}




