<nz-tabset (nzSelectedIndexChange)="onTabChange($event)">
  <nz-tab nzTitle="Inasistencias" (nzClick)="setEstadoJustificacion()"></nz-tab>
  <nz-tab nzTitle="Pendientes" (nzClick)="setEstadoJustificacion(estadoJustificacionEnum.PENDIENTE)"></nz-tab>
  <nz-tab nzTitle="Rechazadas" (nzClick)="setEstadoJustificacion(estadoJustificacionEnum.RECHAZADO)"></nz-tab>
  <nz-tab nzTitle="Aprobadas" (nzClick)="setEstadoJustificacion(estadoJustificacionEnum.APROBADO)"></nz-tab>
  <nz-tab nzTitle="Vencidas" (nzClick)="setEstadoJustificacion(estadoJustificacionEnum.VENCIDA)"></nz-tab>
</nz-tabset>

<nz-table #basicTable [nzBordered]="true" [nzSize]="'middle'"
  [nzData]="justifications|byEstadoJustificacion:estadoJustificacion" [nzScroll]="{ x: '1200px' }">
  <thead>
    <tr>
      <th nzWidth="25%">id</th>
      <th nzWidth="25%">Sesión</th>
      <th nzWidth="25%">Instructor</th>
      <th nzWidth="25%">Jornada</th>
      <th nzWidth="20%">Estado</th>
      <th nzWidth="25%">Justificación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td>{{ data.id}}</td>
      <td>{{ data.assistance?.session?.date}}</td>
      <td>{{ data.assistance!.session!.instructor!.user!.first_name}}</td>
      <td>{{ data.assistance?.session?.course?.shift}}</td>
      <td>{{ data.aprobation?.state || 'Pendiente'}}</td>

      <td>
        <button nz-button nzType="link" (click)="openModal(data)">Ver</button>
      </td>
    </tr>
  </tbody>
</nz-table>

<!-- Modal para Pendientes -->
<app-pending-modal
*ngIf="selectedJustification?.aprobation?.state === null || selectedJustification?.aprobation?.state === estadoJustificacionEnum.PENDIENTE"

  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
  (submit)="handleSubmission($event)"
></app-pending-modal>

<!-- Modal para Rechazadas -->
<app-rejected-modal
  *ngIf="selectedJustification?.aprobation?.state === estadoJustificacionEnum.RECHAZADO"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
></app-rejected-modal>

<!-- Modal para Aprobadas -->
<app-approved-modal
  *ngIf="selectedJustification?.aprobation?.state === estadoJustificacionEnum.APROBADO"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
></app-approved-modal>

<!-- Modal para Vencidas -->
<app-expired-modal
  *ngIf="selectedJustification?.aprobation?.state === estadoJustificacionEnum.VENCIDA"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
></app-expired-modal>