
    <nz-card-meta
      nzTitle="500 - Error Interno del Servidor"
      nzDescription="Ocurrió un problema inesperado en el servidor. Estamos trabajando para solucionarlo. Por favor, vuelve a intentarlo más tarde o contacta al soporte técnico"
      class="text-lg text-center"
    ></nz-card-meta>
    <div class="flex items-center justify-center mt-6">
      <picture class="w-[40rem] h-[40rem]">
        <img
          [src]="image_error"
          class="w-full h-full object-contain"
          alt="Error 500"
        />
      </picture>
    </div>
