<nz-tabset>
  <nz-tab nzTitle="Inasistencias" (nzClick)="getFilterJustificacion()"></nz-tab>
  <nz-tab
    nzTitle="Pendientes"
    (nzClick)="
      getFilterJustificacion({
        aprobationState: estadoJustificacionEnum.PENDIENTE
      })
    "
  ></nz-tab>
  <nz-tab
    nzTitle="Rechazadas"
    (nzClick)="
      getFilterJustificacion({
        aprobationState: estadoJustificacionEnum.RECHAZADO
      })
    "
  ></nz-tab>
  <nz-tab
    nzTitle="Aprobadas"
    (nzClick)="
      getFilterJustificacion({
        aprobationState: estadoJustificacionEnum.APROBADO
      })
    "
  ></nz-tab>
  <nz-tab
    nzTitle="Vencidas"
    (nzClick)="
      getFilterJustificacion({
        aprobationState: estadoJustificacionEnum.VENCIDA
      })
    "
  ></nz-tab>
</nz-tabset>
<nz-table
  #basicTable
  [nzBordered]="true"
  [nzSize]="'middle'"
  [nzData]="justifications"
  [nzScroll]="{ x: '1200px' }"
  [nzShowPagination]="false"
>
  <thead>
    <tr>
      <th nzWidth="25%">Sesión</th>
      <th nzWidth="25%">Ficha</th>
      <th nzWidth="25%">Aprendiz</th>
      <th nzWidth="20%">documento</th>
      <th nzWidth="25%">{{ isInasistencias ? "Estado" : "Ver" }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of justifications">
      <td>{{ data.assistance?.session?.date }}</td>
      <td>{{ data.assistance?.session?.course?.code }}</td>
      <td>
        {{ data.assistance?.apprentice?.user?.name }}
        {{ data.assistance?.apprentice?.user?.last_name }}
      </td>
      <td>{{ data.assistance?.apprentice?.user?.identity_document }}</td>
      <td>
        <span *ngIf="isInasistencias">
          {{ data.aprobation?.state || "Pendiente" }}
        </span>
        <button
          nz-button
          nzType="link"
          (click)="openModal(data)"
        >
          Examinar
        </button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-pagination
  (nzPageIndexChange)="changePage($event)"
  [nzTotal]="total_elements"
  [nzPageIndex]="page"
  [nzPageSize]="elements"
  [nzResponsive]="true"
  [nzHideOnSinglePage]="true">
</nz-pagination>


<app-modal-rejected 
  *ngIf="selectedJustification?.aprobation!.state =='Rechazada'"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
></app-modal-rejected>

<app-modal-approved
  *ngIf="selectedJustification?.aprobation!.state =='Aprobada'"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
  (statusChange)="updateJustificationStatus(selectedJustification, $event)">
</app-modal-approved>

<app-modal-pending
  *ngIf="selectedJustification?.aprobation!.state =='Pendiente'"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
  (statusChange)="updateJustificationStatus(selectedJustification, $event)">
</app-modal-pending>

<app-modal-expired
  *ngIf="selectedJustification?.aprobation!.state =='Vencida'"
  [isVisible]="isModalVisible"
  [justification]="selectedJustification"
  (close)="closeModal()"
  (statusChange)="updateJustificationStatus(selectedJustification, $event)">
</app-modal-expired>