<!-- Alternate Table -->
<div
class="flex flex-wrap gap-4 justify-center w-full"
>
<ng-container *ngFor="let group of paginatedTables">
  <nz-table
    class="w-[26rem]"
    [nzData]="group"
    [nzBordered]="true"
    [nzScroll]="{ x: '100%' }"
    [nzSize]="'small'"
  >
    <thead>
      <tr>
        <th class="p-2">Asistio</th>
        <th class="p-2">Nombres y Apellidos</th>
        <th class="p-2">Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of group"
      >
        <td class="p-2">
          <input
            type="checkbox"
            class="accent-lime-600"
            [checked]="data.assistance"
            (change)="toggleAssistance(data.key, $event)"
          />
        </td>
        <td class="p-2">{{ data.nombre }} {{ data.apellido }}</td>
        <td class="p-2">{{ data.documento }}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
</div>