<!-- Alternate Table -->
<div
class="flex flex-wrap gap-4 justify-center w-full"
>
<ng-container *ngFor="let group of paginatedTables">
  <nz-table
    class="w-[25.5rem] bg-white border border-gray-200 rounded-lg shadow-sm"
    [nzData]="group"
    [nzBordered]="true"
    [nzScroll]="{ x: '100%' }"
    [nzSize]="'small'"
  >
    <thead class="bg-gray-100 text-gray-800 font-medium">
      <tr>
        <th class="p-2">Asistió</th>
        <th class="p-2">Nombres y Apellidos</th>
        <th class="p-2">Documento</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let data of group"
        class="even:bg-gray-50 hover:bg-gray-100"
      >
        <td class="p-2">
          <input
            type="checkbox"
            class="accent-lime-600"
            [checked]="data.assistance"
            (change)="toggleAssistance(data.key, $event)"
          />
        </td>
        <td class="p-2">{{ data.nombre }} {{ data.apellido }}</td>
        <td class="p-2">{{ data.documento }}</td>
      </tr>
    </tbody>
  </nz-table>
</ng-container>
</div>