<div class="super-content">
  <div class="content" nz-flex nzAlign="center" nzVertical="">
    <div class="content2" nz-flex [nzJustify]="'center'" [nzAlign]="'center'">
      <div>
        <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" nz-flex>
          <input
            type="text"
            [(ngModel)]="search"
            nz-input
            placeholder="input search text"
          />
        </nz-input-group>
        <ng-template #suffixIconButton>
          <button nz-button (click)="searchProgram()" nzType="primary" nzSearch>
            <span
              class="search-icon"
              nz-icon
              nzType="search"
              nzTheme="outline"
            ></span>
          </button>
        </ng-template>
      </div>
      <div>
        <app-add-program-modal
          (programData)="createProgram($event)"
        ></app-add-program-modal>
      </div>
    </div>

    <div class="mid-table" style="width: 100%">
      <nz-table
        #basicTable
        nzBordered=""
        [nzPageSize]="10"
        [nzData]="program"
        [nzShowPagination]="true"
        nzSize="small"
      >
        <thead>
          <tr>
            @for (item of ObjTabla.titulo; track $index) {
            <th>{{ item }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (items of ObjTabla.dato; track $index) {
          <tr>
            @for (item of items.dato; track $index) {
            <td>{{ item }}</td>
            }
            <button (click)="editProgram(items.id)">Editar</button>
            <nz-divider nzType="vertical"></nz-divider>
            @if (items.delete) {
            <a
              nz-popconfirm
              nzPopconfirmTitle="¿Estas seguro?"
              (nzOnConfirm)="delectProgram(items.id)"
              >Delete</a
            >
            }
          </tr>
          }
        </tbody>
      </nz-table>
    </div>

    <div class="custom-width-button" style="width: 100%">
      <app-bulk-upload-modal
        nz-flex
        nzJustify="flex-end"
      ></app-bulk-upload-modal>
    </div>
  </div>
</div>

<app-add-program-form
 [isVisible]="isVisible"
  *ngIf="editingProgram"
  (onUpdate)="saveEditedProgram($event)"
  (onCreate)="createProgram($event)"
  [programa]="editingProgram"
  (onCancel)="handleCancel()"
  ></app-add-program-form>
