::ng-deep .ant-modal-footer {
    display: none;
}

::ng-deep .ant-btn-primary:hover, .ant-btn-primary:focus {
    color: #fff;
    border-color: #52c41a;
    background: #00af00;
}

::ng-deep .ant-btn-primary {
    border-color: #52c41a;
    color: white;
    background-color: #52c41a;
    outline: none;
}

