<nz-modal [(nzVisible)]="isVisible" 
nzTitle="Justificación Rechazada" 
(nzOnCancel)="handleCancel()" 
[nzFooter]="null">

  <ng-container *nzModalContent>
    <div class="modal-container">
      <!-- Enlace al archivo cargado (solo se muestra si hay archivo cargado) -->
      <div *ngIf="justification.file_url" class="file-container">
        <a [href]="justification.file_url" target="_blank" class="file-link">
          <i nz-icon nzType="file-pdf" nzTheme="outline"></i>
          <span>Ver archivo adjunto</span>
        </a>
      </div>

      <!-- Motivo de rechazo -->
      <div class="rejection-wrapper">
        <div class="rejection-section">

          <label class="rejection-label">Motivo del rechazo</label>
          <div class="motive-box" style="width: 100%;" > 
            <p>{{ justification.aprobation?.motive }}</p>
          </div>
        </div>
      </div>
    </div>

  </ng-container>
</nz-modal>