<nz-modal 
[(nzVisible)]="isVisible" 
nzTitle="Actualizar Contraseña" 
(nzOnCancel)="closeModal.emit()" 
>
<ng-container *nzModalContent>
    <form [formGroup]="passwordForm">
      <div>
        <label>Contraseña actual:</label>
        <input nz-input type="password" formControlName="currentPassword" />
      </div>
      <div>
        <label>Nueva contraseña:</label>
        <input nz-input type="password" formControlName="newPassword" />
      </div>
      <div>
        <label>Confirmar contraseña:</label>
        <input nz-input type="password" formControlName="confirmPassword" />
      </div>
    </form>
  </ng-container>

    <ng-container *nzModalFooter>
        <button nz-button (click)="closeModal.emit()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()">Aceptar</button>
      </ng-container>


</nz-modal>