<nz-modal 
[(nzVisible)]="isVisible" 
nzTitle="Actualizar Contraseña" 
(nzOnCancel)="closeModal.emit()" 
>



<ng-container *nzModalContent>
    <form [formGroup]="passwordForm">
      <div class="password-input-container">
        <label>Contraseña actual:</label>
        <input nz-input [type]="isCurrentPasswordVisible ? 'text' : 'password'" formControlName="currentPassword" />
        <i nz-icon [nzType]="isCurrentPasswordVisible ? 'eye-invisible' : 'eye'" 
           (click)="togglePasswordVisibility('currentPassword')" class="password-icon"></i>
      </div>
      
      <div class="password-input-container">
        <label>Nueva contraseña:</label>
        <input nz-input [type]="isNewPasswordVisible ? 'text' : 'password'" formControlName="newPassword" />
        <i nz-icon [nzType]="isNewPasswordVisible ? 'eye-invisible' : 'eye'" 
           (click)="togglePasswordVisibility('newPassword')" class="password-icon"></i>
      </div>
      
      <div class="password-input-container">
        <label>Confirmar contraseña:</label>
        <input nz-input [type]="isConfirmPasswordVisible ? 'text' : 'password'" formControlName="confirmPassword" />
        <i nz-icon [nzType]="isConfirmPasswordVisible ? 'eye-invisible' : 'eye'" 
           (click)="togglePasswordVisibility('confirmPassword')" class="password-icon"></i>
      </div>
    </form>
  </ng-container>
  




    <ng-container *nzModalFooter>
        <button nz-button (click)="closeModal.emit()">Cancelar</button>
        <button nz-button nzType="primary" (click)="handleOk()">Aceptar</button>
      </ng-container>


</nz-modal>