<nz-modal 
[(nzVisible)]="isVisible" 
nzTitle="Actualizar Contraseña" 
(nzOnCancel)="closeModal.emit()" 
(nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <form [formGroup]="passwordForm">
            <div>
                <label>Contraseña actual:</label>
                <input nz-input type="password" formControlName="currentPassword" />
            </div>
            <div>
                <label>Nueva contraseña:</label>
                <input nz-input type="password" formControlName="newPassword" />
            </div>
            <div>
                <label>Confirmar contraseña:</label>
                <input nz-input type="password" formControlName="confirmPassword" />
            </div>
        </form>
    </ng-container>
</nz-modal>