.password-input-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.password-input-container label {
  margin-right: 10px; /* Espacio entre el label y el input */
}

.password-icon {
  position: absolute;
  right: 10px; /* Espacio entre el borde derecho y el ícono */
  cursor: pointer;
}

input[nz-input] {
  padding-right: 30px; /* Espacio adicional para que el icono no se superponga al texto */
}
