<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Justificación Aprobada4444444444"
  [nzFooter]="null"
  (nzOnCancel)="closeModal()"
>
  <ng-container *nzModalContent>
    <div>
       
        <!-- Enlace al archivo cargado (solo se muestra si hay archivo cargado) -->
        <div *ngIf="justification.file_url" class="file-container" >
          <a
            [href]="justification.file_url "
            target="_blank" class="file-link"
          >
            <i nz-icon nzType="file-pdf" nzTheme="outline" style="color: #d32f2f; margin-right: 8px;"></i>
            <span>{{ 'Archivo cargado' }}</span>
          </a>
        </div>


      
      <div class="motive-box">
        <p >
         {{ justification.description || "descripción no especificado" }}
        </p>
      </div>
     
    </div>
  </ng-container>
</nz-modal>
