<!-- Modal para crear o editar sede -->
<!-- <nz-modal [(nzVisible)]="isModalVisible" nzTitle="Headquarters" (nzOnCancel)="closeModal()" (nzOnOk)="saveData()" [nzOkDisabled]="formHeadquarters.invalid"> -->



<nz-modal nzMaskClosable="false" nzDraggable [(nzVisible)]="isVisible" nzTitle="Administración de Sedes"
  (nzOnCancel)="cancelForm()" (nzOnOk)="saveData()" [nzOkLoading]="loading" [nzOkDisabled]="form.invalid">

  <ng-container *nzModalContent>
    <form [formGroup]="form">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium">Nombre</label>
        <input id="name" nz-input formControlName="name" placeholder="Ingrese el nombre de la sede" />
        <div *ngIf="form?.get('name')?.invalid && form?.get('name')?.touched" class="text-red-500 text-sm">
          El nombre es requerido. </div>
      </div>

      <div>
        <label for="department" class="block text-sm font-medium">Departamento</label>
        <nz-select formControlName="department" (ngModelChange)="onDepartmentChange()"
          nzPlaceHolder="Seleccione un departamento" nzShowSearch>




          <nz-option *ngFor="let department of departments" [nzValue]="department.id"
            [nzLabel]="department.name"></nz-option>
        </nz-select>
        <div *ngIf="form?.get('department')?.invalid && form.get('department')?.touched" class="text-red-500 text-sm">
          Departamento es requerido.
        </div>
      </div>


      <div class="mb-4">
        <label for="municipality" class="block text-sm font-medium">Municipio</label>
        <nz-select formControlName="municipality_id" nzPlaceHolder="Seleccione  un municipio"
          [nzDisabled]="!fieldDepartment.value" nzShowSearch>
          <nz-option *ngFor="let municipality of municipalities" [nzValue]="municipality.id"
            [nzLabel]="municipality.name">
          </nz-option>
        </nz-select>
        @if (form.get('municipality_id')?.invalid && form.get('municipality_id')?.touched) {
        <div class="text-red-500 text-sm">
          Municipio es requerido.
        </div>
        }

      </div>

      <div class="mb-4">
        <label for="adress" class="block text-sm font-medium">Dirección</label>
        <input id="adress" nz-input formControlName="adress" placeholder="Ingrese la Dirección" />
        <div *ngIf="form?.get('adress')?.invalid && form.get('adress')?.touched" class="text-red-500 text-sm">
          Dirección es requerida.
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="opening_time" class="block text-sm font-medium">Hora de Apertura</label>
          <input id="opening_time" nz-input type="time" formControlName="opening_time" />
          <div *ngIf="form?.get('opening_time')?.invalid && form.get('opening_time')?.touched"
            class="text-red-500 text-sm">
            Se requiere horario de apertura.
          </div>
        </div>


        <div class="mb-4">
          <label for="closing_time" class="block text-sm font-medium">Hora de Cierre</label>
          <input id="closing_time" nz-input type="time" formControlName="closing_time" />
          <div *ngIf="form?.get('closing_time')?.invalid && form.get('closing_time')?.touched"
            class="text-red-500 text-sm">
            Se requiere horario de cierre.
          </div>
        </div>
      </div>
      <div *ngIf="form.hasError('invalidTime')" class="text-red-500 text-sm mt-2">
        La hora de apertura no puede ser mayor o igual a la hora de cierre.
      </div>

      <div class="mb-4"><br>

        <label for="trainingCentreId" class="block text-sm font-medium"> Centro de Formacion</label>
        <nz-select formControlName="training_center_id" nzPlaceHolder="Seleccione un centro">
          <nz-option *ngFor="let centre of trainingCentres " [nzValue]="centre.id" [nzLabel]="centre.name"></nz-option>

        </nz-select>
        @if (form.get('training_center_id')?.invalid && form.get('training_center_id')?.touched)
        {
        <div class="text-red-500 text-sm">
          Centro de formación es requerido.
        </div>
        }


      </div>

    </form>
  </ng-container>
</nz-modal>