<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Justificación Aprobada"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
>
<ng-container *nzModalContent>
  <div>
     
      <!-- Enlace al archivo cargado (solo se muestra si hay archivo cargado) -->
      <div *ngIf="justification.file_url" class="file-container" >
        <a
          [href]="justification.file_url "
          target="_blank" class="file-link"
        >
          <i nz-icon nzType="file-pdf" nzTheme="outline" style="color: #d32f2f; margin-right: 8px;"></i>
          <span>{{ 'Archivo cargado' }}</span>
        </a>
      </div>


    
    <div class="motive-box"  style="width: 100%; margin-top: 8px; padding: 8px; border: 1px solid #eeeeee; border-radius: 4px; background-color: #fbfbfb;">
      <p >
       {{ justification.description || "descripción no especificado" }}
      </p>
    </div>
   
  </div>
</ng-container>
</nz-modal>
