<ul nz-menu nzMode="inline" class="text-green-500 text-lg hidden mobile:block">
  <!-- Template genérico para la creación de submenús infinitos -->
  <ng-template #renderSubMenu let-subMenuItems>
    <ng-container *ngFor="let subItem of subMenuItems">
      <!-- Elemento de menú simple -->
      <li
        *ngIf="!subItem.subMenu"
        nz-menu-item
        class="text-black hover:text-green-500 transition-colors duration-100 after:border-r-green-500"
      >
        <span
          nz-icon
          [nzType]="subItem.icon"
          [nzTheme]="subItem.theme"
          class="text-xl mr-2"
        ></span>
        <span>{{ subItem.title }}</span>
      </li>

      <!-- Submenú -->
      <li
        *ngIf="subItem.subMenu"
        nz-submenu
        [nzTitle]="subItem.title"
        [nzIcon]="subItem.icon!"
        class="text-green-500"
      >
        <ul>
          <ng-container
            *ngTemplateOutlet="
              renderSubMenu;
              context: { $implicit: subItem.subMenu }
            "
          ></ng-container>
        </ul>
      </li>
    </ng-container>
  </ng-template>

  <!-- Inicializa el menú -->
  <ng-container
    *ngTemplateOutlet="renderSubMenu; context: { $implicit: menuItems }"
  ></ng-container>
</ul>
