@if (isModalVisible) {
  <app-training-centre-form 
  [centre]="centreUpdate" 
  [isVisible]="isModalVisible" 
  (update)="actualizarTabla($event)"
  (create)="actualizarTabla($event)" 
  
  (closeModal)="closeModal()">
  </app-training-centre-form>
  }
  
  <button nz-button nzType="primary" (click)="openModal()">Crear Centro de Formación</button>
  
  <!-- Tabla para listar centros de formación -->
  <nz-table [nzData]="Datetable.Datos" [nzPageSize]="5">
    <thead>
      <tr>
        @for (titulo of Datetable.Titles; track $index) {
        <th>{{titulo}}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (session of Datetable.Datos; track $index) {
      <tr>
        @for (item of session.Datos; track $index) {
        <td>{{ item }}</td>
        }
  
        <td>
          <button nz-button nzType="default" (click)="update(session.idItem)">Editar</button>
  
          <button 
    nz-popconfirm 
    nzPopconfirmTitle="¿Está seguro que desea eliminar?" 
    (nzOnConfirm)="deleteCentre(session.idItem)" 
    (nzOnCancel)="cancel()"
    nz-button 
    nzType="default" 
    nzDanger>
    Delete
  </button>
          
          
          <!-- <button nz-popconfirm (click)="deleteCentre(centre.idItem)">
            Delete
          </button> -->
        </td>
  
      </tr>
      }
    </tbody>
  </nz-table>
  