<nz-layout class="h-screen max-w-screen flex flex-col bg-gray-100">
  <!-- Header principal -->
  <app-nav-bar class="h-16 bg-white shadow-md"></app-nav-bar>

  <!-- Layout con el sider y contenido -->
  <nz-layout class="flex flex-1 overflow-hidden">
    <!-- Sider -->
    <nz-sider
      nzCollapsible
      nzWidth="248px"
      class="bg-[#ffffff] hidden desktop:block"
    >
      <app-menu-item></app-menu-item>
    </nz-sider>

    <!-- Contenido principal -->
    <nz-layout class="flex-1 overflow-hidden">
      <nz-content class="m-2 p-4 bg-white rounded-lg shadow-md content-con-scroll">
        <nz-breadcrumb [nzAutoGenerate]="true" class="mb-4"></nz-breadcrumb>

         <!-- Contenedor interno con scroll vertical -->
        <div class="tabla-con-scroll">
        <router-outlet></router-outlet>
      </div>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
