<nz-layout class="h-screen w-screen">
  <!-- Header principal -->
  <app-nav-bar></app-nav-bar>

  <!-- Layout con el sider -->
  <nz-layout>
    <!-- Layout con el sider -->
    <nz-sider
      nzCollapsible
      nzWidth="200px"
      class="bg-[#ffffff] hidden desktop:block"
    >
      <app-menu-item></app-menu-item>
    </nz-sider>

    <nz-layout>
      <nz-content class="m-[16px] p-[0 50px]">
        <nz-breadcrumb [nzAutoGenerate]="true" class="mb-2"></nz-breadcrumb>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
