<nz-layout class="h-screen w-screen flex flex-col bg-gray-100">
  <!-- Header principal -->
  <app-nav-bar class="h-16 bg-white shadow-md"></app-nav-bar>

  <!-- Layout con el sider y contenido -->
  <nz-layout class="flex flex-1">
    <!-- Sider -->
    <nz-sider
      nzCollapsible
      nzWidth="200px"
      class="bg-[#ffffff] hidden desktop:block"
    >
      <app-menu-item></app-menu-item>
    </nz-sider>

    <!-- Contenido principal -->
    <nz-layout class="flex-1">
      <nz-content class="m-4 p-6 bg-white rounded-lg shadow-md">
        <nz-breadcrumb [nzAutoGenerate]="true" class="mb-4"></nz-breadcrumb>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
