<button nz-button nzType="primary" (click)="openModal()">Crear Ambiente</button>

@if (isModalVisible) {
<app-environment-form
    [environment]="environment"
    [isVisible]="isModalVisible"
    [included]="included"
    (update)="edit($event)"
    (create)="create($event)"
    (cancel)="closeModal()">
</app-environment-form>
}


<nz-table #basicTable [nzData]="headquarters" [nzPageSize]="5">
    <thead>
        <tr>
            <th nzWidth="18%">
                Nombre

            </th>
            <th nzWidth="15%">Capacidad</th>
            <th nzWidth="15%">Área</th>
            <th nzWidth="15%">Sede</th>
            <th nzWidth="15%">acciones</th>
        </tr>
    </thead>
    <tbody>
        @for (item of environments; track $index) {
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.capacity}}</td>
            <td>{{ item.environment_area?.name}}</td>
            <td>{{ item.headquarters?.name}}</td>

            <td>
                <button nz-button nzType="primary" (click)="openEdit(item)">Edit</button>

                <button nz-popconfirm nzPopconfirmTitle="¿Está seguro que desea eliminar?"
                    (nzOnConfirm)="confirm(item.id)" (nzOnCancel)="cancel()" nz-button nzType="default" nzDanger>
                    Delete
                </button>
            </td>
        </tr>
        }
    </tbody>
</nz-table>