<section class="Environments">
  <div class="content-tittle">
    <div class="search-box">
      <nz-select
      nzPlaceHolder="Seleccione una sede"
      [(ngModel)]="selectedHeadquarter"
      (ngModelChange)="onSelectHeadquarter($event)" nzAllowClear>

        @for (headquarter of headquartersList; track $index) {
        <nz-option [nzValue]="headquarter.id" [nzLabel]="headquarter.name"></nz-option>
        }
      </nz-select>

    </div>
    <div class="botons">
      <button (click)="openModalHeadquarter()" >edita</button>
      <button>delete</button>
      <button>agregar sede</button>
    </div>

  </div>

  <nz-table #basicTable [nzData]="filteredEnvironments">
    <thead>
      <tr>
        <th>Name</th>
        <th>Capacity</th>
        <th>Area</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for (environment of basicTable.data; track environment) {
      <tr>
        <td>{{ environment.name }}</td>
        <td>{{ environment.capacity }}</td>
        <td>{{ environment.knowledge_network?environment.knowledge_network.name:'No tiene area asignada'}}</td>
        <td>
          <button class="btn-accion" (click)="openModalEnvironment()">delete</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button clas>delete</button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</section>



<!-- modales -->

<app-modal-headquarter #modalHeadquarter
(updatedHeadquarter)="getHeadquarters()" ></app-modal-headquarter>
<app-modal-environment #modalEnviroment ></app-modal-environment>


