<section class="Environments">
  <div class="content-tittle">
    <div class="search-box">
      <nz-select class="border-2 border-solid" nzPlaceHolder="Seleccione una sede" [(ngModel)]="selectedHeadquarter"
        (ngModelChange)="onSelectHeadquarter($event)" nzAllowClear>

        @for (headquarter of headquartersList; track $index) {
        <nz-option [nzValue]="headquarter.id" [nzLabel]="headquarter.name"></nz-option>
        }
      </nz-select>

    </div>
    <div class="botons">
      <button class="add-environment-btn" (click)="openCreateModalHeadquarter()">Añadir sedes
      </button>
      <button class="add-environment-btn" (click)="openModalHeadquarter()" 
      [disabled]="!selectedHeadquarter">Editar sede
      </button>
      <button nz-popconfirm nzPopconfirmTitle="Seguro que quieres eliminar esta sede, esta acción no se puede deshacer."
        class="add-environment-btn" (nzOnConfirm)="onDeleteHeadquarter()" 
        [disabled]="!selectedHeadquarter"> Eliminar
        sede</button>
      <button class="add-environment-btn" (click)="openCreateModalEnvironment()"
      [disabled]="!selectedHeadquarter">Añadir ambientes
      </button>
    </div>

  </div>

  <nz-table #basicTable [nzData]="filteredEnvironments">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Capacidad</th>
        <th>Area</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (environment of basicTable.data; track environment.id) {
      <tr>
        <td>{{ environment.name }}</td>
        <td>{{ environment.capacity }}</td>
        <td>{{ environment.knowledge_network?environment.knowledge_network.name:'No tiene area asignada'}}</td>
        <td>
          <button class="btn-accion" (click)="openModalEnvironment(environment.id)">Editar</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button nz-popconfirm nzPopconfirmTitle="Seguro que quieres eliminar este ambiente, esta acción no se puede deshacer."
           (nzOnConfirm)="deleteEnvironment(environment.id)">Eliminar</button>
        </td>
      </tr>
      }
    </tbody>
  </nz-table>
</section>



<!-- modales -->

<app-modal-headquarter #modalHeadquarter (updatedHeadquarter)="getHeadquarters()"></app-modal-headquarter>
<app-modal-environment #modalEnviroment (updateEnvironment)="handleEnvironmentUpdate()"></app-modal-environment>