<div class="desktop:h-[80vh] desktop:flex justify-center">
  <full-calendar
    [options]="calendarOptions"
    class="calendar-container"
  ></full-calendar>
</div>

<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Detalles del Evento"
  (nzOnOk)="handleOk()"
  [nzFooter]="modalFooter"
>
  <ng-container *nzModalContent>
    <p><b>{{ selectedEvent?.title }}</b></p>
    <nz-timeline>
      <nz-timeline-item
        *ngFor="let session of selectedEvent?.sessions"
        [nzColor]="getTimelineColor(session)"

      >
      {{ formatTimeWithoutSeconds(session.start_time) || "Sin Asignar" }} - {{ formatTimeWithoutSeconds(session.end_time) || "Sin Asignar" }} - {{ session.course?.code }} - {{ session.course?.program?.name }} - {{ session.course?.environment?.name}} 
      </nz-timeline-item>
    </nz-timeline>
  </ng-container>
  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()">Aceptar</button>
  </ng-template>
</nz-modal>
