<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Cargar Justificación"
  (nzOnCancel)="handleCancel()"
  [nzFooter]="null"
>
<ng-container *nzModalContent>
  <div>
    <p>
      <i nz-icon nzType="file-pdf"></i> {{ fileName }}
      <button nz-button nzType="text" nzDanger>
        <i nz-icon nzType="close"></i>
      </button>
    </p>
    <p>El documento debe ser en formato PDF y su tamaño menor a 5MB.</p>
    <textarea
      nz-input
      rows="3"
      placeholder="Escriba su justificación aquí..."
      [(ngModel)]="justificationText"
    ></textarea>
    <div style="margin-top: 10px;">
      <button nz-button nzType="default" (click)="handleCancel()">Cancelar</button>
      <button nz-button nzType="primary" (click)="handleSubmit()">Enviar</button>
    </div>
  </div>
</ng-container>
</nz-modal>