<button nz-button nzType="primary" (click)="openModal()">Ingresa una Sede</button>


<nz-table #basicTable [nzData]="headquarters" [nzPageSize]="5">
  <thead>
    <tr>
      <th nzWidth="18%">Nombre</th>
      <th nzWidth="15%">Centro de Formación</th>
      <th nzWidth="15%">Departamento</th>
      <th nzWidth="15%">Municipio</th>
      <th nzWidth="15%">Dirección</th>
      <th nzWidth="10%">Hora de Apertura</th>
      <th nzWidth="10%">Hora de cierre</th>
      <th nzWidth="15%">acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of headquarters; track $index) {
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.training_center.name}}</td>
      <td>{{ item.municipality.departament.name }}</td>
      <td>{{ item.municipality.name }}</td>
      <td>{{ item.adress }}</td>
      <td>{{ item.opening_time }}</td>
      <td>{{ item.closing_time }}</td>
      <td>
        <button nz-button nzType="primary" (click)="openModal(item)">Edit</button>



        <button nz-popconfirm nzPopconfirmTitle="¿Está seguro que desea eliminar?" (nzOnConfirm)="confirm(item.id)"
          (nzOnCancel)="cancel()" nz-button nzType="default" nzDanger >
          Delete
        </button>

      </td>
    </tr>
    }
  </tbody>
</nz-table>

<app-headcuarter-form></app-headcuarter-form>
<!-- Modal para crear o editar sede -->
<!-- <nz-modal [(nzVisible)]="isModalVisible" nzTitle="Headquarters" (nzOnCancel)="closeModal()" (nzOnOk)="saveData()" [nzOkDisabled]="formHeadquarters.invalid"> -->



<nz-modal *ngIf="formHeadquarters" [(nzVisible)]="isModalVisible" nzTitle="Administración de Sedes"
  (nzOnCancel)="closeModal()" (nzOnOk)="saveData()" [nzOkDisabled]="formHeadquarters.invalid">

  <ng-container *nzModalContent>
    <form [formGroup]="formHeadquarters">
      <div class="mb-4">
        <label for="name" class="block text-sm font-medium">Nombre</label>
        <input id="name" nz-input formControlName="name" placeholder="Ingrese el nombre de la sede" />
        <div *ngIf="formHeadquarters?.get('name')?.invalid && formHeadquarters?.get('name')?.touched"
          class="text-red-500 text-sm">
          El nombre es requerido y debe tener al menos 3 caracteres. </div>
      </div>

      <div>
        <label for="department" class="block text-sm font-medium">Departamento</label>
        <nz-select formControlName="department" nzPlaceHolder="Seleccione un departamento">
          <nz-option *ngFor="let department of departments" [nzValue]="department.id"
            [nzLabel]="department.name"></nz-option>
        </nz-select>
        <div *ngIf="formHeadquarters?.get('department')?.invalid && formHeadquarters.get('department')?.touched">
          Departamento es requerido.
        </div>
      </div>


      <div class="mb-4">
        <label for="municipality" class="block text-sm font-medium">Municipio</label>
        <nz-select formControlName="municipality_id" nzPlaceHolder="Seleccione  un municipio"
          [nzDisabled]="!fieldDepartment.value">
          <nz-option *ngFor="let municipality of municipalities" [nzValue]="municipality.id"
            [nzLabel]="municipality.name">
          </nz-option>
        </nz-select>
        @if (formHeadquarters.get('municipality_id')?.invalid && formHeadquarters.get('municipality_id')?.touched) {
        <div class="text-red-500 text-sm">
          Municipio es requerido.
        </div>
        }

      </div>

      <div class="mb-4">
        <label for="adress" class="block text-sm font-medium">Dirección</label>
        <input id="adress" nz-input formControlName="adress" placeholder="Ingrese la Dirección" />
        <div *ngIf="formHeadquarters?.get('adress')?.invalid && formHeadquarters.get('adress')?.touched"
          class="text-red-500 text-sm">
          Dirección es requerida.
        </div>
      </div>

      <div class="grid grid-cols-2 gap-4">
        <div class="mb-4">
          <label for="opening_time" class="block text-sm font-medium">Hora de Apertura</label>
          <input id="opening_time" nz-input type="time" formControlName="opening_time" />
          <div *ngIf="formHeadquarters?.get('opening_time')?.invalid && formHeadquarters.get('opening_time')?.touched"
            class="text-red-500 text-sm">
            Se requiere horario de apertura.
          </div>
        </div>


        <div class="mb-4">
          <label for="closing_time" class="block text-sm font-medium">Hora de Cierre</label>
          <input id="closing_time" nz-input type="time" formControlName="closing_time" />
          <div *ngIf="formHeadquarters?.get('closing_time')?.invalid && formHeadquarters.get('closing_time')?.touched"
            class="text-red-500 text-sm">
            Se requiere horario de cierre.
          </div>
        </div>
      </div>

      <div class="mb-4">

        <label for="trainingCentreId" class=""> Centro de Formacion</label>
        <nz-select formControlName="training_center_id" nzPlaceHolder="Seleccione un centro">
          <nz-option *ngFor="let centre of trainingCentres " [nzValue]="centre.id" [nzLabel]="centre.name"></nz-option>

        </nz-select>
        @if (formHeadquarters.get('training_center_id')?.invalid && formHeadquarters.get('training_center_id')?.touched)
        {
        <div class="text-red-500 text-sm">
          Centro de formación es requerido.
        </div>
        }


      </div>

    </form>
  </ng-container>
</nz-modal>