<button nz-button nzType="primary" (click)="openModal()">Ingresa una Sede</button>
@if (isModalVisible) {
  <app-headquarter-form 
    [headquarter]="headquarter" 
    [isVisible]="isModalVisible"  
    (update)="edit($event)" 
    (create)="create($event)" 
    (cancel)="closeModal()">
  </app-headquarter-form>
}


<nz-table #basicTable [nzData]="headquarters" [nzPageSize]="5">
  <thead>
    <tr>
      <th nzWidth="5%">ID</th>
      <th nzWidth="18%">Nombre</th>
      <th nzWidth="15%">Centro de Formación</th>
      <th nzWidth="15%">Departamento</th>
      <th nzWidth="15%">Municipio</th>
      <th nzWidth="15%">Dirección</th>
      <th nzWidth="10%">Hora de Apertura</th>
      <th nzWidth="10%">Hora de cierre</th>
      <th nzWidth="15%">acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (item of headquarters; track $index) {
    <tr>
      <td>{{ item.id }}</td>  
      <td>{{ item.name }}</td>
      <td>{{ item.training_center.name}}</td>
      <td>{{ item.municipality.departament.name }}</td>
      <td>{{ item.municipality.name }}</td>
      <td>{{ item.adress }}</td>
      <td>{{ item.opening_time }}</td>
      <td>{{ item.closing_time }}</td>
      <td>
        <button nz-button nzType="primary" (click)="openEdit(item)">Edit</button>

        <button nz-popconfirm nzPopconfirmTitle="¿Está seguro que desea eliminar?" (nzOnConfirm)="confirm(item.id)"
          (nzOnCancel)="cancel()" nz-button nzType="default" nzDanger >
          Delete
        </button>
      

      </td>
    </tr>
    }
  </tbody>
</nz-table>
<!-- @if (isModalVisible) {
  <app-headquarter-form [isVisible]="isModalVisible" (cancel)="closeModal()"></app-headquarter-form>
} -->
