<p>headquarter works!</p>
<!-- Tabla de sedes -->
<nz-table #basicTable [nzData]="headquarters" [nzPageSize]="5">
    <thead>
      <tr>
        <th nzWidth="20%">Name</th>
        <th nzWidth="15%">Training Centre</th>
        <th nzWidth="15%">Department</th>
        <th nzWidth="15%">Municipality</th>
        <th nzWidth="20%">Address</th>
        <th nzWidth="10%">Opening Hour</th>
        <th nzWidth="10%">Closing Hour</th>
        <th nzWidth="15%">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of headquarters">
        <td>{{ item.name }}</td>
        <td>{{ item.trainingCentre_Id }}</td>
        <td>{{ item.department }}</td>
        <td>{{ item.municipality }}</td>
        <td>{{ item.address }}</td>
        <td>{{ item.openingHour }}</td>
        <td>{{ item.closingHour }}</td>
        <td>
          <button nz-button nzType="primary" (click)="openModal(item)">Edit</button>
          <button nz-button nzType="default" nzDanger (click)="deleteHeadquarters(item.id)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
