@for (item of notifications(); track $index) {
    <nz-alert 
      nzBanner 
      [nzMessage]="item.message" 
      [nzType]="item.read ? 'info' : item.type" 
      [nzShowIcon]="true" 
      [nzAction]="item.type === 'warning' && !item.read ? actionTemplate1 : null">
    </nz-alert>
  
    <ng-template #actionTemplate1>
      <button 
        nz-button 
        nzSize="small" 
        nzType="text" 
        (click)="markAsRead(item.id, $index)">
        <span 
          class="text-1xl"
          nz-icon
          nzType="check-circle"
          nzTheme="twotone"
          nzTwotoneColor="#52c41a">
        </span>
      </button>
    </ng-template>
  }
  