<div class="all">
  <nz-tabset>
    <!-- Tab de Instructores -->
    <nz-tab nzTitle="Instructores">
      <button nz-button nzType="primary" (click)="openModal('instructor')">
        Asignar Instructor
      </button>
      <nz-table #instructorTable [nzData]="instructores" [nzBordered]="true">
        <thead>
          <tr>
            <th>Nombre y Apellidos</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let instructor of instructores">
            <td>{{ instructor.nombreCompleto }}</td>
            <td>{{ instructor.fechaInicio | date }}</td>
            <td>{{ instructor.fechaFin | date }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>


    <!-- Tab de Aprendices -->
    <nz-tab nzTitle="Aprendices">
      <button nz-button nzType="primary" (click)="openModal('aprendiz')">
        Asignar Aprendiz
      </button>
      <nz-table #aprendizTable [nzData]="aprendices" [nzBordered]="true">
        <thead>
          <tr>
            <th>Nombre y Apellidos</th>
            <th>Documento</th>
            <th>Fecha Ingreso</th>
            <th>Fecha Fin</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aprendiz of aprendices">
            <td>{{ aprendiz.nombreCompleto }}</td>
            <td>{{ aprendiz.documento }}</td>
            <td>{{ aprendiz.fechaInicio | date }}</td>
            <td>{{ aprendiz.fechaFin | date }}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>

  <!-- Modal único para Asignar Instructor o Aprendiz -->
  <nz-modal [(nzVisible)]="isModalVisible"
    [nzTitle]="modalType === 'instructor' ? 'Asignar Instructor' : 'Asignar Aprendiz'" (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
      <form [formGroup]="form">
        <nz-form-item>
          <nz-form-label [nzSpan]="6">
            {{ modalType === 'instructor' ? 'Instructor' : 'Aprendiz' }}
          </nz-form-label>
          <nz-form-control [nzSpan]="14">
            <nz-select formControlName="persona" nzShowSearch nzPlaceHolder="Selecciona una persona">
              <nz-option *ngFor="let persona of listaPersonas"
                [nzLabel]="persona.documento + ' - ' + persona.nombreCompleto" [nzValue]="persona.id">
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </form>
      <ng-container *ngIf="errorMessage">
        <nz-alert nzType="error" [nzMessage]="errorMessage"></nz-alert>
      </ng-container>
    </ng-container>
  </nz-modal>
</div>
<!-- modal subir archivos -->
<div>
  <nz-modal>
    <nz-upload nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzFileList]="fileList">
      <button nz-button>
        <span nz-icon nzType="upload"></span>
        subir
      </button>
    </nz-upload>
  </nz-modal>
</div>