<nz-modal nzDraggable [(nzVisible)]="isVisible" nzTitle="{{area ? 'editar' :'crear'}} Area"
    (nzOnCancel)="cancelForm()" (nzOnOk)="saveData()"  [nzOkDisabled]="form.invalid">
    <ng-container *nzModalContent>

        <form nz-form [formGroup]="form">

            <label for="name">Nombre del Area</label>
            <input nz-input formControlName="name" id="name" placeholder="Nombre del area" />

            <!-- Validación del campo de nombre -->
            <div *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
                <small class="text-red-500">El nombre es requerido y debe tener al menos 5 caracteres</small>
            </div>

        </form>

    </ng-container>
</nz-modal>
